{% for article in articles %}
    <div>
        <i class="ion-quote"></i>
        <p>{{ article.contenu }}</p>
        <div class="user">
            <p><span>{{ article.titre }}</span></p>
        </div>
    </div>
{% endfor %}


